.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: black;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 25px;
  color: orange;
}

.sidebarMenu {
  margin-bottom: 18px;
}

.sidebarTitle {
  font-size: 20px;
  color: white;
}

.sidebarList {
  list-style: none;
  padding: 8px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}


.sidebarListItem:hover {
  background-color: white;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
